.container_table{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 30px;
    box-shadow: 0 0 20px #333;
}
 
 .boton{
     background: white;
     border-color: #2979CD;
     border-radius: 3px;
 }

 .boton:hover{
    background: #f5ee96;
    border-color: #2979cd;

    border-radius: 3px;
    font-weight: bold;
 }
    
.table_title{
    background: #2979CD;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}

.table_header, .table_item{
    display:flex;
    justify-content: center;
    align-items: center;
}

.table_header{
    background: rgb(212, 211, 211);
    font-weight: bold;
    font-size: 1.2em;
}

.table_item{
    font-size: 0.9em;
    padding: 10px;
}

.table_submit{
    margin: auto;
    font-size: 0.6em;
}

.contenedorFormulario{
	margin: auto;
	margin-top: 30px;
	width: 50%;
	max-width: 500px;
	display: flex;
	flex-direction: row;
}
